.return-btns {
    float: right;
    padding: 12px;
    z-index: 999;
    :global(.ant-btn) {
        min-width: 96px;
        border-radius: 4px;
    }
}
.fixed {
    position: fixed;
    right: 24px;
    bottom: 24px;
}
